
body {
  padding-top: 50px;
  
}
html, body {
  height: 100%;
  margin: 0;
}
  img {
    width: 15px;
    height: 15px;
    margin-bottom: 3px;
  }

  li {
    border-radius: 10px;
  }

 .fadeIn:hover {
  background-color: gray;
  transition: 500ms;
    
 }